
<div class="center">

<div id="title">
<h1>Result </h1>
</div>

<div class='container'>

</div>


<p class="btn btn-success btn-lg"> <%= link_to "<button>Play again</button>".html_safe, '/new' %> </p>
</div>
